.header{
  text-align: center;
}
.todo, .todoclick{
  padding: 10px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
.todoclick{
  background-color: rgb(232, 239, 241);
}
.main{
  width: 700px;
  margin: auto;
  
}
.btn{
  padding: 0 10px;
  border-radius: 3px;
  
}
.check{
  margin-right: 5px;
  align-items: center;
}

.title{
  display: flex;
}
.spin{
  margin-right: 3px;
  margin-left: 4px;
}